.footer
{
  margin:0px 0px;
  background-color: #001a33;
  color: white;
  padding:2rem 2rem;
}

.about,.logo,ul
{
  margin-bottom:10%;
}

.about p
{
  line-height: 2rem;
}

.img
{
  width:40%;
  margin-bottom: 1em;
  display: block;
}

.about h2{
  font-size:2rem;
  font-weight: 700;
}

.nav ul{
  padding: 0em;
}

.nav ul li
{
  list-style: none;
  margin-bottom: 1em;
}

.link
{
  text-decoration: none;
  padding-left: 0px;
  color: white;
}

.media
{
  display: flex;
  justify-content: space-between;
}

.logo span
{
  font-size: 1rem;
}

.facebook,.instagram
{
  margin-right:2em;
  text-decoration: none;
  color: white;
}

.facebook:hover,.instagram:hover,.copyright:hover,.link:hover
{
  color: red;
}

@media (min-width:768px)
{
  .main
  {
    display: flex;
    justify-content: space-between;
  }

  .about
  {
   width:30%;
  }

  .logo
  {
  width:30%;
  text-align:center;
  margin:auto 0;
  }

  .nav 
  {
  width:30%;
  display: flex;
  justify-content: space-between;
  }

  .img
  {
  width:80%;
  margin:1em auto;
  }

  .nav ul{
    padding: 1em;
  }
}