/*.main {
  margin-top: 100px;
}

.navbar {
  background-color: white;
}

.footer {
  background-color: #001524;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.left {
  text-align: left;
}

.links {
  line-height: 2em;
  text-align: left;
}
.right {
  text-align: right;
}

.footer_icons {
  padding-left: 100px;
}

/* .footer_img_div {
  width: 80%;
  height: auto;
} */

/*.footer_img {
  width: 70%;
  height: 70%;
}
*/