.container {
  width: 95%;
  margin: auto;
}

.navbar {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1;
}

.logo {
  margin-left: -45px;
  padding-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin: 1px;
}

.cart {
  margin-right: 36px;
}

nav ul li a:hover {
  color: #719d0f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown_content {
  display: block;
}

/* .footer {
  background-color: #001524;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow-x: hidden;
} */

.left {
  text-align: left;
}

.links {
  line-height: 2em;
  text-align: left;
}
.right {
  text-align: right;
}

.footer_icons {
  padding-left: 100px;
}

/* .footer_img_div {
  width: 80%;
  height: auto;
} */

/* .footer_img {
  width: 70%;
  height: 70%;
} */

@media only screen and (max-width: 950px) {
  nav ul li {
    /* display: block; */
    list-style: none;
    margin: 25px;
    text-decoration: none;
  }
  /* nav ul {
    margin-left: 0px;
    display: block;
  } */
  nav {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    /* flex-direction: column; */
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 20px;
    margin-bottom: 4px;
  }
  .down:hover .dropdown_content {
    display: block;
  }
}

@media only screen and (max-width: 785px) {
  .toggleicon {
    margin-left: 60vw;
  }
}

@media only screen and (min-width: 950px) {
  /* Navbar */
  .toggleicon {
    display: none;
  }

  .navbar {
    background-color: white;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul {
    margin-left: auto;
    display: flex;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 4px;
  }

  nav {
    height: 100px;
    padding-left: 30px;
    display: flex;
    background-color: white;
    padding-right: 30px;
  }

  nav label img {
    margin-top: 20px;
    height: 70px;
  }

  nav ul li {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }
  /* Navbar */
}
