/* products div */

.strikethrough {
  text-decoration: line-through;
}

.product_name {
  font-size: 1em;
}

.products {
  /* display: inline-flex; */
  margin: 100px 0 50px 0;
  text-align: center;
}

.product_heading {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 31px;
  font-weight: 800;
  /* color: black; */
  margin: 0 25px 0 25px;
  text-decoration: none;
}

.product_heading_1 {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 31px;
  font-weight: 800;
  /* color: black; */
  margin: 0 25px 0 25px;
  text-decoration: none;
}

.product_heading_2 {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 31px;
  font-weight: 800;
  /* color: black; */
  margin: 0 25px 0 25px;
  text-decoration: none;
}

.product_heading:hover {
  color: #719d0f;
}
.green {
  color: #719d0f;
}

.product_card {
  padding-top: 20px;
  text-align: left;
  padding-bottom: 50px;
  color: black;
  display: inline-block;
  /* padding-bottom: 50px; */
  width: 22%;
  min-width: 230px;
  max-width: 400px;
  height: 100%;
  margin: 15px;
  min-height: 260px;
  max-height: 480px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product_card_henna {
  padding-top: 20px;
  text-align: left;
  color: black;
  display: inline-block;
  /* padding-bottom: 50px; */
  width: 22%;
  min-width: 230px;
  max-width: 400px;
  height: 100%;
  margin: 15px;
  min-height: 260px;
  max-height: 480px;
}

.product_image {
  height: 80%;
  width: 100%;
  transition: opacity 0.5s ease-out;
}

.products::after {
  content: "";
  clear: both;
}

.product_price {
  line-height: 4.1em;
}

.product_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #719d0f;
  color: white;
  text-decoration: none;
  margin: auto;
  transition: all 500ms ease-in-out;
  height: 42px;
  width: 90%;
  max-width: 180px;
}

.product_button_henna {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #719d0f;
  color: white;
  text-decoration: none;
  margin: auto;
  transition: all 500ms ease-in-out;
  height: 42px;
  width: 90%;
  max-width: 180px;
}

.product_button:hover {
  background-color: transparent;
  color: #719d0f;
}

.product_button_henna:hover {
  background-color: transparent;
  color: #719d0f;
}

.products_essentials {
  /* display: inline-flex; */
  margin: 100px 0 2px 10px;
  text-align: left;
}

/* .product_heading_div {
    text-align: center;
  } */

.product_heading_div {
  margin-top: 50px;
  text-align: center;
  margin-bottom: -100px;
}

.tablist {
  list-style: none;
  margin-bottom: 150px;
}

.tab_title {
  display: inline;
}

/* products div */
