.strikethrough {
  text-decoration: line-through;
}

.product_name {
  font-size: 1em;
}
/* products div */

.products {
  /* display: inline-flex; */
  margin: 100px 0 50px 0;
  text-align: center;
}

.product_heading {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 31px;
  font-weight: 800;
  /* color: black; */
  margin: 0 25px 0 25px;
  text-decoration: none;
}

.product_heading:hover {
  color: #719d0f;
}

.product_card {
  padding-top: 20px;
  text-align: left;
  padding-bottom: 50px;
  color: black;
  display: inline-block;
  /* padding-bottom: 50px; */
  width: 22%;
  min-width: 230px;
  max-width: 400px;
  height: 100%;
  margin: 15px;
  min-height: 260px;
  max-height: 480px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product_card_henna {
  padding-top: 20px;
  text-align: left;
  color: black;
  display: inline-block;
  /* padding-bottom: 50px; */
  width: 22%;
  min-width: 230px;
  max-width: 400px;
  height: 100%;
  margin: 15px;
  min-height: 260px;
  max-height: 480px;
}

.product_image {
  height: 80%;
  width: 100%;
  transition: opacity 0.5s ease-out;
}

.products::after {
  content: "";
  clear: both;
}

.product_price {
  line-height: 4.1em;
}

.product_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #719d0f;
  color: white;
  text-decoration: none;
  margin: auto;
  transition: all 500ms ease-in-out;
  height: 42px;
  width: 90%;
  max-width: 180px;
}

.product_button_henna {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #719d0f;
  color: white;
  text-decoration: none;
  margin: auto;
  transition: all 500ms ease-in-out;
  height: 42px;
  width: 90%;
  max-width: 180px;
}

.product_button:hover {
  background-color: transparent;
  color: #719d0f;
}

.product_button_henna:hover {
  background-color: transparent;
  color: #719d0f;
}

.products_essentials {
  /* display: inline-flex; */
  margin: 100px 0 2px 10px;
  text-align: left;
}

/* .product_heading_div {
  text-align: center;
} */

.product_heading_div {
  margin-top: 50px;
  text-align: center;
  margin-bottom: -100px;
}

.tablist {
  list-style: none;
  margin-bottom: 150px;
}

.tab_title {
  display: inline;
}

/* products div */

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

main {
  margin-bottom: 100px;
}
.card1 {
  background-image: url("./img/top_div1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-flex;
  color: white;
  /* float: left; */
  width: 30%;
  max-width: 500px;
  min-width: 270px;
  max-height: 500px;
  min-height: 325px;
  margin: 10px 10px 10px;
  height: 600px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: -1;
  /* backdrop-filter: brightness(54%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg); */
}
.card2 {
  background-image: url("./img/top_div2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-flex;
  color: white;
  /* float: left; */
  width: 30%;
  max-width: 500px;
  min-width: 270px;
  max-height: 500px;
  min-height: 325px;
  /* padding: 1px; */
  margin: 10px 10px 10px;
  height: 600px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.card3 {
  background-image: url("./img/top_div3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-flex;
  color: white;
  /* float: left; */
  width: 30%;
  max-width: 500px;
  min-width: 270px;
  max-height: 500px;
  min-height: 325px;
  /* padding: 1px; */
  margin: 10px 10px 10px;
  height: 600px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card1:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  /* transition-timing-function: ease-in-out; */
}

.card2:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  /* transition-timing-function: ease-in-out; */
}

.card3:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  /* transition-timing-function: ease-in-out; */
}
/* .responsive {
  width: 100%;
  max-width: 500px;
  min-width: 220px;
  max-height: 600px;
  min-height: 375px;
} */

.card_heading {
  font-size: 2em;
  text-decoration: none;
}

.card_a {
  text-decoration: none;
  color: black;
}

.card_p {
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}

.cardbutton {
  background-color: white;
  /* border: 2px solid green; */
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  height: 45px;
  width: 90%;
  max-width: 121px;
}

.cardbottom {
  margin-left: 40px;
  margin-top: 300px;
  text-align: left;
  text-decoration: none;
}

.cardbutton:hover {
  background-color: transparent;
  color: white;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  /* transition-duration: 0.5s; */
}

.buttontext {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: normal;
}

.cardContainer {
  text-align: center;
}
.cardContainer::afthennaer {
  content: "";
  clear: both;
}
/* 2nd div */

/* Welcome div */

.welcomediv {
  background-color: #e0e3d2;
  position: relative;
  width: 97%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  box-shadow: 5px 10px 18px #d1d1d1;
}

.welcomeimgdiv {
  margin: auto;
}

.welcometextdiv {
  width: 100%;
  margin-left: 15%;
  margin-top: auto;
  margin-bottom: auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.welcometo {
  color: red;
  font-size: 30px;
}

.welcometotext {
  width: 70%;
  margin-bottom: 10%;
  font-size: 16px;
}

.welcomeheading {
  font-size: 36px;
  text-shadow: 3px 3px #cfcfcf;
}

.learnmore {
  text-decoration: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #719d0f;
  border-radius: 28px;
  width: 35%;
  height: 55px;
  border: 1px solid #719d0f;
  transition: all 0.4s ease-in-out;
  margin-bottom: 12%;
}

.learnmore:hover {
  background-color: #719d0f;
  color: white;
}

/* Welcome div */

/* Top div */

.topdiv {
  width: 100%;
  height: 83vh;
  margin-top: -20px;
  margin-bottom: 20px;
}

.topdivimg {
  width: 100%;
  height: 83vh;
  position: absolute;
  display: flex;
  filter: brightness(30%) contrast(100%) saturate(95%) blur(0px)
    hue-rotate(0deg);
  transition: all 0.2s linear;
}

.toptextdiv {
  position: relative;
  transform: translateX(-50%);
  text-align: center;
  max-width: 90%;
}

.topdivtitle {
  font-size: 14px;
  letter-spacing: 4.7px;
}

.topdivsubtitle {
  font-size: 22px;
  letter-spacing: 7.4px;
}

.link {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

.topdivbutton {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  display: flex;
  min-width: 235px;
  width: 22.2%;
  height: 50px;
  border-radius: 60px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  margin: auto;
}

.topdivbutton:hover {
  color: black;
  background-color: white;
}

/* Top div */

/* Heena Blog */

.hennablog_main {
  /* border: 2px solid green; */
  margin: auto;
  margin-top: 100px;
  height: 150px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: auto;
}

.hennablogchild {
  /* border: 2px solid blue; */
  /* display: inline-block; */
  /* float: left; */
  /* width: 30%; */
  height: auto;
  box-shadow: 8px 8px 8px #f1f1f1;
  text-align: center;
}

.links {
  text-decoration: none;
  color: black;
}

.hennablog_img {
  width: 90%;
  margin-top: 3px;
  text-align: center;
  left: 50;
  height: auto;
  transition: all 0.4s ease;
}

.hennablog_img:hover {
  transform: scale(1.05) rotate(2deg);
}

#blog:hover .hennablog_img {
  transform: scale(1.05) rotate(2deg);
}

.hennablogchild_heading {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}

.bloginnerdiv {
  width: 90%;
  margin: auto;
  text-align: left;
  font-size: 16px;
}

.blogbutton {
  display: flex;
  width: 35%;
  text-decoration: none;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  line-height: 1;
  font-size: 15px;
  background-color: #719d0f;
}

.blogbuttondiv {
  width: 90%;
  margin: auto;
}

/* Henna Blog */

/* Media Quereis */
@media (max-width: 760px) {
  .cardContainer {
    display: block;
  }
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }
  .tablist {
    margin-bottom: 160px;
    display: block;
  }
  .product_heading {
    margin-top: 25px;
  }
  .products_essentials {
    text-align: center;
  }
  .toptextdiv {
    top: 20%;
    left: 50%;
  }
  .learnmore {
    font-size: 14px;
  }
  .welcomeimgdiv {
    display: none;
  }
  .welcomediv {
    margin: auto;
  }
}

@media (min-width: 761px) {
  .toptextdiv {
    top: 60%;
    left: 50%;
  }
  .learnmore {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .hennablog_main {
    display: block;
    width: 95%;
  }
  .hennablogchild {
    margin: 50px 0 50px 0;
  }
  .hennablog_img {
    width: 95%;
  }
  .blogbuttondiv {
    padding: 30px 0 30px 0;
  }
}
/* Media Quereis */
