/* * {
  box-sizing: border-box;
} */

main {
  margin-bottom: 100px;
  z-index: -1;
}
.card1 {
  background-image: url("./img/top_div1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-flex;
  color: white;
  /* float: left; */
  width: 30%;
  max-width: 500px;
  min-width: 270px;
  max-height: 500px;
  min-height: 325px;
  margin: 10px 10px 10px;
  height: 600px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: -1;
  /* backdrop-filter: brightness(54%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg); */
}
.card2 {
  background-image: url("./img/top_div2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-flex;
  color: white;
  /* float: left; */
  width: 30%;
  max-width: 500px;
  min-width: 270px;
  max-height: 500px;
  min-height: 325px;
  /* padding: 1px; */
  margin: 10px 10px 10px;
  height: 600px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.card3 {
  background-image: url("./img/top_div3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-flex;
  color: white;
  /* float: left; */
  width: 30%;
  max-width: 500px;
  min-width: 270px;
  max-height: 500px;
  min-height: 325px;
  /* padding: 1px; */
  margin: 10px 10px 10px;
  height: 600px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card1:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  /* transition-timing-function: ease-in-out; */
}

.card2:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  /* transition-timing-function: ease-in-out; */
}

.card3:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  /* transition-timing-function: ease-in-out; */
}
/* .responsive {
  width: 100%;
  max-width: 500px;
  min-width: 220px;
  max-height: 600px;
  min-height: 375px;
} */

.card_heading {
  font-size: 2em;
  text-decoration: none;
}

.card_a {
  text-decoration: none;
  color: black;
}

.card_p {
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}

.cardbutton {
  background-color: white;
  /* border: 2px solid green; */
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  height: 45px;
  width: 90%;
  max-width: 121px;
}

.cardbottom {
  margin-left: 40px;
  margin-top: 300px;
  text-align: left;
  text-decoration: none;
}

.cardbutton:hover {
  background-color: transparent;
  color: white;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  /* transition-duration: 0.5s; */
}

.buttontext {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: normal;
}

.cardContainer {
  text-align: center;
}
.cardContainer::afthennaer {
  content: "";
  clear: both;
}
/* 2nd div */

/* Welcome div */

.welcomediv {
  background-color: #e0e3d2;
  position: relative;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  margin: auto;
  box-shadow: 5px 10px 18px #d1d1d1;
}

.welcometextdiv {
  width: 100%;
  margin-left: 15%;
  margin-top: auto;
  margin-bottom: auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.welcometo {
  color: red;
  font-size: 30px;
}

.welcometotext {
  width: 70%;
  margin-bottom: 10%;
  font-size: 16px;
}

.welcomeheading {
  font-size: 36px;
  text-shadow: 3px 3px #cfcfcf;
}

.learnmore {
  text-decoration: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #719d0f;
  border-radius: 28px;
  width: 35%;
  height: 55px;
  border: 1px solid #719d0f;
  transition: all 0.4s ease-in-out;
  margin-bottom: 12%;
}

.learnmore:hover {
  background-color: #719d0f;
  color: white;
}

/* Welcome div */

/* Top div */

@-webkit-keyframes zoomin {
  0% {
    background-size: 140%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes zoomin {
  0% {
    background-size: 140%;
  }
  100% {
    background-size: 100%;
  }
}

.topdiv {
  width: 100%;
  height: 75vh;
  margin-top: -20px;
  object-fit: cover;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #833ca3;
  background-image: url(https://hennacrafts.com/wp-content/uploads/2021/03/3-1.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  align-items: flex-end;
  min-width: 100%;
  min-height: 100%;
  transform: scale(1);
  background-size: 120%;
  background-position-x: 50%;
  background-position-y: 50%;
  -webkit-animation: zoomin 7.5s linear;
  animation: zoomin 7.5s linear;
  animation-fill-mode: forwards;
  background-origin: center;
  /* transition-duration: 7s;
  transition-timing-function: linear; */
  background-color: #000000ad;

  align-items: flex-end;
}

.overlay {
  background-color: #000000ad;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
  vertical-align: baseline;
}

/* .topdivimg {
  width: 100%;
  height: 85vh;
  position: absolute;
  transform: scale(0.8);
  display: flex;
  filter: brightness(30%) contrast(100%) saturate(95%) blur(0px)
    hue-rotate(0deg);
  transition: all 0.2s linear;
} */

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toptextdiv {
  position: relative;
  /* right: 55%; */
  color: white;
  /* transform: translateX(-50%); */
  /* margin: auto; */
  text-align: center;
  /* width: auto; */
  animation-name: fadeInUp;
  animation-duration: 1.25s;
  max-width: 90%;
  /* top: 70%; */
}

.topdivtitle {
  font-size: 14px;
  letter-spacing: 4.7px;
}

.topdivsubtitle {
  font-size: 22px;
  letter-spacing: 7.4px;
}

.link {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

.topdivbutton {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  display: flex;
  min-width: 235px;
  width: 22.2%;
  height: 50px;
  border-radius: 60px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  margin: auto;
}

.topdivbutton:hover {
  color: black;
  background-color: white;
}

/* Top div */

/* Heena Blog */

.hennablog_main {
  /* border: 2px solid green; */
  margin: auto;
  margin-top: 100px;
  height: 150px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: auto;
}

.hennablogchild {
  /* border: 2px solid blue; */
  /* display: inline-block; */
  /* float: left; */
  /* width: 30%; */
  height: auto;
  box-shadow: 8px 8px 8px #f1f1f1;
  text-align: center;
}

.links {
  text-decoration: none;
  color: black;
}

.hennablog_img {
  width: 90%;
  margin-top: 3px;
  text-align: center;
  left: 50;
  height: auto;
  transition: all 0.4s ease;
}

.hennablog_img:hover {
  transform: scale(1.05) rotate(2deg);
}

#blog:hover .hennablog_img {
  transform: scale(1.05) rotate(2deg);
}

.hennablogchild_heading {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}

.bloginnerdiv {
  width: 90%;
  margin: auto;
  text-align: left;
  font-size: 16px;
}

.blogbutton {
  display: flex;
  width: 35%;
  text-decoration: none;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  line-height: 1;
  font-size: 15px;
  background-color: #719d0f;
}

.viewblog {
  display: flex;
  width: 25%;
  text-decoration: none;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  line-height: 1;
  font-size: 15px;
  margin: auto;
  margin-top: 80px;
  background-color: #719d0f;
  transition: all 0.3s ease-in-out;
}

.viewblog:hover {
  background-color: transparent;
  color: #719d0f;
}

.viewblog_div {
  margin: auto;
  width: 80%;
}

.blogbuttondiv {
  text-align: center;
  width: 90%;
  margin: auto;
}

/* Henna Blog */

/* Testimonials */

.testimonials {
  text-align: center;
}

.testimonials_heading {
  display: inline-block;
}

.clientsay {
  margin: auto;
  width: auto;
  /* display: inline-block; */
  letter-spacing: 2px;
  font-size: 15px;
  margin-bottom: 25px;
  color: #719d0f;
  /* vertical-align: middle; */
}

.hr {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  margin: 0 9px 0 10px;
  height: 1px;
  border: 1px solid #719d0f;
  background-color: #719d0f;
}

.br {
  /* background-color: #719d0f; */
  border: 1px solid #719d0f;
  margin-top: 25px;
  /* height: 1px; */
  width: 30%;
  border-radius: 5px;
}

.testimonial_name {
  font-size: 18px;
}

.testimonials_h1 {
  font-size: 36px;
  margin: 0 0 25px 0;
}

.testimonial_main {
  width: 150%;
  height: auto;
  /* border: 2px solid blue; */
  overflow: hidden;
  display: flex;
  margin-bottom: 170px;
  /* transition: all 0.6s cubic-bezier(0.36, 0.245, 0.155, 0.99); */

  justify-content: space-evenly;
}

.testimonial_child {
  /* width: calc(100% / 4 - 10px); */
  width: 30%;
  /* height: 100%; */
  /* transition: all 0.6s cubic-bezier(); */

  height: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: ease-in-out;
  /* border: 2px solid green; */
  /* box-shadow: 5px 10px 18px #d1d1d1; */
  /* display: inline-block; */
}

.testimonialscontent {
  width: 85%;
  font-size: 12px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonial_img {
  width: 100%;
  height: 20%;
  margin-bottom: 2px;
}

.testimonial_child:hover {
  border-bottom: 3.5px solid #719d0f;
}

.quotes {
  background-color: transparent;
  width: 60px;
  margin-left: -20px;
  margin-top: -20px;
  height: auto;
  position: absolute;
}

/* Testimonials */

/* Test code */

/* Media Quereis */
@media (max-width: 760px) {
  .cardContainer {
    display: block;
  }
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }
  .tablist {
    margin-bottom: 160px;
    display: block;
  }
  .product_heading {
    margin-top: 25px;
  }
  .products_essentials {
    text-align: center;
  }
  .toptextdiv {
    top: 20%;
    right: 47%;
  }
  .topdiv {
    height: 55vh;
  }
  .learnmore {
    font-size: 14px;
  }
  .welcomeimgdiv {
    display: none;
  }
  .welcomediv {
    margin: auto;
  }
}

@media (max-width: 850px) {
  .topdiv {
    animation: none;
  }
}

/* @media (max-width: 1040px) {
    .toptextdiv {
      top: 50%;
    }
  } */

@media (min-width: 761px) {
  .toptextdiv {
    top: 55%;
    left: 5.6%;
  }
  .learnmore {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .toptextdiv {
    transform: translateX(60%);
    animation: none;
  }
  .viewblog {
    font-size: 1px;
  }
}

@media (max-width: 540px) {
  .topdiv {
    animation: none;
    background-size: cover;
  }
}

@media (max-width: 900px) {
  .hennablog_main {
    display: block;
    width: 95%;
  }
  .hennablogchild {
    margin: 50px 0 50px 0;
  }
  .hennablog_img {
    width: 95%;
  }
  .blogbuttondiv {
    padding: 30px 0 30px 0;
  }
}
/* Media Quereis */
