.currency_converter_parent_div {
  position: fixed;
  height: auto;
  right: -315px;
  position: fixed;
  z-index: 9999999999;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  bottom: 40%;
  /* transform: translateY(-50%); */
  font-family: Arial;
  font-family: Arial, Helvetica, sans-serif;
}

.currency_converter_parent_div:hover {
  transform: translateX(-255px);
}

#currency_converter_parent_div:hover #heading {
  margin-left: 15%;
}

.heading {
  /* margin-left: 150px; */
  text-align: center;
  display: flex;
  margin-left: 40%;
  /* justify-content: center; */
  align-items: center;
  background: #212121 !important;
  color: white;
  font-size: 16px;
  width: 425px;
  height: 45px;
}

.heading_title {
  /* margin: 25px; */
  text-decoration: none;
  color: white;
  margin-left: 45px;
  letter-spacing: 1px;
  text-align: left;
  width: auto;
  font-size: 16px;
}

.title {
  margin: 0 0 0 10px;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  width: 100%;
  font-size: 12px;
}

.currency {
  margin-left: 15%;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 4px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  width: 350px;
  height: 45px;
}

.currency:hover {
  background-color: #719d0f;
}

/* .cad {
  margin-left: 15%;
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
  height: 45px;
} */

.us_span {
  margin-left: 10%;
  text-decoration: none;
}

.cad_span {
  margin-left: 20%;
}

.black_background {
  background: #212121;
}

.active {
  background-color: #719d0f;
}

.display {
  display: block;
}

.none {
  display: none;
}
